[Unit]
Description=Net Telegram Sender Service 

[Service]
WorkingDirectory=/home/lolidragon/tg_bot/sender
ExecStart=/usr/bin/dotnet Sender.dll
Restart=always
RestartSec=10  # Restart service after 10 seconds if dotnet service crashes
SyslogIdentifier=TelegramBotSender
User=lolidragon
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target